@model IEnumerable<SS.CorporateTV.BO.Models.UtilizadorModel>

@if (Model != null && Model.Any())
{
    foreach (var item in Model)
    {
        <tr id="@item.ID" class="linha">
            <td class="col-md-2">
                @Html.DisplayFor(m => item.Nome)
            </td>
            <td class="col-md-4">
                @Html.DisplayFor(m => item.UserName)
            </td>

            <td class="col-md-4">
                @Html.DisplayFor(m => item.PerfilDesignacao)
            </td>
            @*<td class="col-md-2">
                @Html.CheckBoxFor(m => item.Ativo, new { @disabled = "" })
            </td>*@
        </tr>
    }
}
else
{
    <tr>
        <td colspan="5" class="trNoResults">
            @SS.CorporateTV.BO.Resources.Geral.SemResultados
        </td>
    </tr>
}