@using SS.CorporateTV.BO.Web.ExtensionMethods

@model IEnumerable<SS.CorporateTV.BO.Models.ConteudoModel>

@{
    ViewBag.Title = "Index";
}

@{ var permissoes = (List<SS.CorporateTV.Core.Enum.Permissao>)ViewData["Permissoes"]; }

<div class="main-block">
    <div class="main-block-header">
        <span class="glyphicon glyphicon-facetime-video"></span>@SS.CorporateTV.BO.Resources.Conteudo.ConteudoTvName

        <div class="operacoes">
            @if (permissoes.Contains(SS.CorporateTV.Core.Enum.Permissao.Gravar))
            {
                @Ajax.ActionLinkWithIcon("glyphicon glyphicon-plus-sign", SS.CorporateTV.BO.Resources.Conteudo.ConteudoTvName, "_Detalhe", null, new AjaxOptions
                {
                    HttpMethod = "GET",
                    UpdateTargetId = "divmodaltarget",
                    InsertionMode = InsertionMode.Replace,
                    OnSuccess = "MostraModal('#divModal', true);"
                })
            }
        </div>

    </div>
    <div id="filtro">
        @{Html.RenderPartial("_Filtro", new SS.CorporateTV.BO.Models.ConteudoFiltro());}
    </div>

    <div class="table-responsive">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>@SS.CorporateTV.BO.Resources.Conteudo.Designacao</th>
                    <th>@SS.CorporateTV.BO.Resources.Conteudo.Tipo</th>
                    @*<th>@SS.CorporateTV.BO.Resources.Conteudo.EmUso</th>*@
                </tr>
            </thead>
            <tbody id="ListaConteudo">
                @{ Html.RenderPartial("_Lista", Model); }
            </tbody>
        </table>
    </div>

</div>
@using (Ajax.BeginForm("_Detalhe", null, new AjaxOptions
    {
        UpdateTargetId = "divmodaltarget",
        InsertionMode = InsertionMode.Replace,
        OnSuccess = "MostraModal('#divModal', true);"
    },
        new { id = "formgetrec" }))
{
    <input type="hidden" id="id" name="id" />
    <input type="submit" id="submitgetrec" style="display: none;" />
}

@section scripts{
    <script type="text/javascript">

        detailOnClick();
        registaPesquisa('@Url.Action("_Lista")');


    </script>
}
